.App {
  text-align: center;
}
.mainPage {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: #3a78d4;
}

.name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #ec6e4c;
}
.text {
  font-weight: lighter;
  font-style: italic;
}
.footage {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.myLink {
  font-weight: bold;
}
