.tempMax {
  color: #ec6e4c;
  margin-left: 20px;
}
.tempMin {
  color: blue;
}
.fiveDays {
  font-weight: bold;
  background: wheat;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
